<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteBase /~VM/cakephp/croogo/bootstraptemp/quickappv1/
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>